<?xml version="1.0"?>
<model>
  <name>Strollerbot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>nikki</name>
   <email>me@my.email</email>
  </author>

  <description>
    A strollerbot model for the Let's Build a Strollerbot project.
  </description>
</model>